{{ define "section_content" }}
<div class="section" id="content">
    {{ .Content }}
    <ul>
        {{ range .Data.Pages }}
        <div style="margin-top: 1em;">
            <div>
                <a href="{{ .Permalink  }}" class="research-title">
                    {{  .Title  }}
                </a>
            </div>
            <p>
                {{ .Params.startdate }} to {{ .Params.enddate | default "present" }} @
                {{  .Params.lab    }}, {{ .Params.institution}}
            </p>
        </div>
        {{ end }}
    </ul>
</div>
{{ end }}