<!DOCTYPE html>
<html>

<head>
    {{ partial "head.html" . }}
    <title>{{ .Title }}</title>
</head>

<body>
    {{ partial "scripts.html" . }}
    <script>
        $(document).ready(function() {
            document.documentElement.setAttribute('data-theme', 'light');
        });

        function onClick() {
            console.log('click');
            var theme = document.documentElement.getAttribute('data-theme');
            console.log(theme);
            if (theme == "light") document.documentElement.setAttribute('data-theme', 'dark');
            if (theme == "dark") document.documentElement.setAttribute('data-theme', 'light');
        };
    </script>
    <div class="section" id="splash">
        <button onclick="onClick();" type="button" class="btn btn-link btn-dark-theme" id="theme-toggler">
            <i class="fas fa-adjust" style="color: var(--primary-color)"></i>
        </button>
        {{ if .Site.Params.greeting }}
        {{ range .Site.Params.greeting}}
        <div class="big-link greeting">
            <a href="{{.link}}">
                {{.text}}
            </a>
            <div class="subgreeting">
                Undergraduate Biomedical Engineering student @ <a href="https://www.polito.it/index.php?lang=en"
                    target="_blank">POLITO</a>
            </div>
        </div>
        {{ end }}
        {{ end }}

        {{ if .Site.Params.mainMenu }}
        {{ range .Site.Params.mainMenu }}
        <div class="big-link">
            <a href="{{.link}}">
                └ {{.text}}
            </a>
        </div>
        {{ end }}
        {{ else }}
        {{ range .Site.Sections }}
        <div class="big-link">
            <a href="{{.Permalink}}">
                {{.Title}}
            </a>
        </div>
        {{ end }}
        {{ end }}

    </div>
</body>

</html>